<footer class="main-footer">
    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="column col-md-12 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-widget logo-widget">
                                <div class="logoo">
                                    <a href="index.html"><img src="assets/images/logo.png" class="f-logo" alt=""></a>
                                </div>
                                <div class="widget-content">
                                    <div class="text">At <span class="theme_color">AREA 24</span> - The Interior
                                        Hub,we believe in the power of
                                        quality craftsmanship and a meticulous approach to every project. </div>
                                    <div class="widget-content">
                                        <ul class="social-icon-two">
                                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                            <li><a href="https://api.whatsapp.com/send?phone=919979788889"><span
                                                        class="fab fa-whatsapp"></span></a></li>
                                            <li><a href="tel:9979788889"><span class="fas fa-phone-alt"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-widget link-widget">
                                <div class="footer-title">
                                    <h2>Useful Links</h2>
                                    <div class="separator"></div>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Footer Column-->
                        <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-widget link-widget">
                                <div class="footer-title">
                                    <h2>Services</h2>
                                    <div class="separator"></div>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="architecturaldesign.html">Architectural Design</a></li>
                                        <li><a href="residentialdesign.html">Residential Design</a></li>
                                        <li><a href="commercialdesign.html">Commercial Design</a></li>
                                        <li><a href="cafe-and-restaurant-design.html">Cafe's & Restaurant
                                                Design</a>
                                        </li>
                                        <li><a href="hotel-and-resort-design.html">Hotel & Resort Design</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Footer Column-->
                        <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-widget link-widget">
                                <div class="footer-title">
                                    <h2>Contact Details</h2>
                                    <div class="separator"></div>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><span>Email:</span> <a href="mailto:info@area24.co">info@area24.co
                                            </a>
                                        </li>
                                        <li><span>Contact number:</span> +91 99797 88889 <br> +91 98794 08085
                                        </li>
                                        <li><span>Location:</span> 155, First Floor, Suyash solitaire, nr.
                                            Poddar International School, Kudasan, Gandhinagar, Gujarat 382421
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="column col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright">Copyright &copy; 2025 <a href="index.html">Area 24</a>. All Rights
                        Reserved.</div>
                </div>
            </div>
        </div>
    </div>

</footer>