<header class="main-header">
    <!--Header-Upper-->
    <div class="header-upper">
        <div class="auto-container clearfix">
            <div class="pull-left logo-outer">
                <div class="logo"><a href="index.html"><img src="assets/images/logo.png" alt="Area 24"
                            title="Area 24"></a></div>
            </div>
            <div class="pull-right upper-right clearfix">
                <nav class="main-menu">
                    <div class="navbar-header">
                        <div class="logo-r"><a href="index.html"><img src="assets/images/logo.png" alt="Area 24"
                                    title="Area 24"></a></div>
                        <!-- Toggle Button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current"><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li class="dropdown"><a href="#">Services</a>
                                <ul>
                                    <li><a href="residentialdesign.html">Residential Design</a></li>
                                    <li><a href="commercialdesign.html">Commercial Design</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Gallery</a>
                                <ul>
                                    <li><a href="residential-gallery.html">Residential Gallery</a></li>
                                    <li><a href="commercial-gallery.html">Commercial Gallery</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!--End Header Upper-->

    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="index.html" class="img-responsive"><img src="assets/images/logo.png" class="stic" alt="Area 24"
                        title="Area 24"></a>
            </div>
            <!--Right Col-->
            <div class="right-col pull-right">

                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-header">
                        <div class="logo-r"><a href="index.html"><img src="assets/images/logo.png" alt="Area 24"
                                    title="Area 24"></a></div>
                        <!-- Toggle Button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current"><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li class="dropdown"><a href="#">Services</a>
                                <ul>
                                    <li><a href="residentialdesign.html">Residential Design</a></li>
                                    <li><a href="commercialdesign.html">Commercial Design</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Gallery</a>
                                <ul>
                                    <li><a href="residential-gallery.html">Residential Gallery</a></li>
                                    <li><a href="commercial-gallery.html">Commercial Gallery</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- Main Menu End-->

            </div>
        </div>
    </div>
    <!--End Sticky Header-->

</header>